// $white: #fff;
// $black: #000;
// $blue: #00c;
// $red: #c00;

// $defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
// $defaultFontSize: 14px;
// $defaulBackgroundColor: $white;
// $defaulTextColor: $black;
// $defaultLineHeight: 1.2;

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #00c;
    --color-red: #c00;

    --font-family: 'Helvetica', 'Arial', sans-serif;
    --font-size: 14px;
    --line-height: 1.2;
}