.segment {
    .title {
        font-size: 20px;
    }

    .description {
        font-size: 18px;
        margin-top: 5px;
    }

    .content {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
}